process {
    withName: 'ZARR_FEATURE_EXTRACTION' {
        ext.prefix = { "${meta.id ?: 'no_id'}_${params.intensity ?: 'no_int'}_${params.labels ?: 'no_lab'}" }
        
        publishDir = [
            path: { "${params.outdir}/measurements/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.parquet"
        ]
    }
}
