nextflow.enable.moduleBinaries = true

process {
    withName: 'ZARR_FEATURE_EXTRACTION' {
        ext.prefix = {
            def timestamp = new Date().format('yyyyMMdd_HHmm')
            def id    = meta.id ?: 'no_id'
            def intensity = params.intensity != null ? params.intensity : 'no_intensity'
            def labels    = params.labels != null ? params.labels : 'no_labels'
            "${id}_${intensity}_${labels}_${timestamp}"
        }

        publishDir = [
            path: { "${params.outdir}/measurements/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.parquet"
        ]
    }
    withName: 'SAMPLE_INPUT_PREP'{
         publishDir = [
            path: { "${params.outdir}/samples_converted2zarr" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]

    }

    withName: 'PYMIF_CONVERSION' {
        publishDir = [
            path: { "${params.outdir}/zarr/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.zarr"
        ]
    }

    withName: 'ULTRACK' {
        publishDir = [
            path: { "${params.outdir}/tracking/${meta.id}" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
