process {
    withName: 'ZARR_FEATURE_EXTRACTION' {
        ext.prefix = {
            def timestamp = new Date().format('yyyyMMdd_HHmm')
            def id    = meta.id ?: 'no_id'
            def intensity = params.intensity != null ? params.intensity : 'no_intensity'
            def labels    = params.labels != null ? params.labels : 'no_labels'
            "${id}_${intensity}_${labels}_${timestamp}"
        }

        publishDir = [
            path: { "${params.outdir}/measurements/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.parquet"
        ]
    }
    withName: 'PYMIF' {
        publishDir = [
            path: { "${params.outdir}/zarr/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.zarr"
        ]
    }
    withName: 'SLICE_IMAGE' {
        // -nogroup ensures it safely treats each file as an independent dataset
        ext.args   = "-nogroup" 
        ext.prefix = { "sample_${meta.sample}" }

        publishDir = [
            path: { "${params.outdir}/intermediates/slices/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.tif",
            enabled: false // Leaves files in work/ to save space
        ]
    }
    withName: 'ILASTIK_SEGMENT' {
        ext.args = {
            def axes   = meta.csv_axes ? meta.csv_axes : params.default_axes
            def source = meta.csv_source ? meta.csv_source : params.default_export_source
            def dtype  = meta.csv_dtype ? meta.csv_dtype : params.default_dtype

            return [
                "--output_format=tif",
                "--input_axes=${axes}",
                "--export_source='${source}'",
                "--export_dtype=${dtype}"
            ].join(' ')
        }
        ext.prefix = {
            meta.slice_id ? "${meta.sample}_${meta.slice_id}_seg" : "${meta.sample}_segmented"
        }

        publishDir = [
            path: { "${params.outdir}/intermediates/ilastik_slices/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.tif",
            enabled: false
        ]
    }
    withName: 'HYPERSTACK' {
        // Pass any necessary global bio-formats flags here if required
        ext.args   = "" 

        // Define a name for hyperstack
        ext.prefix = { "${meta.id}_segmented_stack" }

        publishDir = [
            path: { "${params.outdir}/segmented_stack/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.ome.tif"
        ]
    }
}
