process {
    withName: 'ZARR_FEATURE_EXTRACTION' {
        ext.prefix = {
            def timestamp = new Date().format('yyyyMMdd_HHmm')
            def id    = meta.id ?: 'no_id'
            def intensity = params.intensity != null ? params.intensity : 'no_intensity'
            def labels    = params.labels != null ? params.labels : 'no_labels'
            "${id}_${intensity}_${labels}_${timestamp}"
        }

        publishDir = [
            path: { "${params.outdir}/measurements/${meta.exp_name ?: 'test_exp'}" },
            mode: 'copy',
            pattern: "*.parquet"
        ]
    }
}
